@model  employeeleaverequestviewvm

@{
    ViewData["Title"] = "My Leave";
}

<div class="card">
    <div class="card-header">
        <h2>Leave Allocations</h2>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <div class="col">Leave Name</div>
                <div class="col">Original Allocation</div>
                <div class="col">Current Allocation</div>
            </div>
        </li>
        @foreach (var allocation in Model.Leaveallocations)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col"><h6>@allocation.leavetype.name</h6> </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary">
                            Allocated Days <span class="badge bg-secondary">@allocation.leavetype.defaultdays</span>
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary">
                            Remaining Days <span class="badge bg-secondary">@allocation.noofdays</span>
                        </button>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>

<hr />
<h2>Current Requests</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Leaverequests[0].startdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leaverequests[0].enddate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leaverequests[0].leavetype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leaverequests[0].daterequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leaverequests[0].approved)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Leaverequests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.startdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.enddate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.leavetype.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.daterequested)
                </td>

                <td>
                    @if (item.cancelled)
                    {
                        <span class="badge bg-secondary">Cancelled</span>
                    }
                    else if (item.approved == null)
                    {
                        <span class="badge bg-warning">Pending</span>
                    }
                    else if (item.approved.Value)
                    {
                        <span class="badge bg-success">Approved</span>
                    }
                    else if (item.approved.Value == false)
                    {
                        <span class="badge bg-danger">Rejected</span>
                    }
                </td>

                <td>
                    @if (item.approved == null && item.cancelled == false)
                    {
                        <form asp-action="Cancel">
                            <input asp-for="@item.id" name="id" type="hidden" />
                            <button type="submit" class="btn btn-danger btn-sm">Cancel Request</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>